@import url(../global/global.css);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--fonte);
    scroll-behavior: smooth;
}

footer{
    width: 100%;
    height: 150px;
    background-color: var(--preto);
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: left;
    color: white;
    padding: 50px;
}

footer  h3{
    font-size: 18px;
}

a, ul, li{
    text-decoration: none;
    list-style-type: none;
}

h1{
    font-size: 72px;
    color: white;
}

h2{
    font-size: 64px;
    color: white;
}

.menuHeader button{
    display: none;
}

.frontEnd-gambiarra{
    color: var(--azulEscuro);
}

.menuHeader{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: fixed;
    width: 100%;
    z-index: 9999;
    padding-top: 20px;
    background-color: #141414;
}

.listaMenu{
    display: flex;
    flex-direction: row;
    gap: 150px;
}

.listaMenu a{
    color: white;
    padding: 7px 35px ;
    font-weight: 600;
}



.listaMenu  a:hover{
    color: var(--azulEscuro);
    transition: 0.2s ease-in;
}

.parteUm-Home{
    width: 100%;
    height: 100vh;
    background-color: var(--preto);
    display: flex;
    flex-direction: column;
}

.containerImgTitulo{
    padding-top: 30px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    flex-direction: row;
    flex-wrap: wrap;
}


.divImg{
    width: 383px;
    height: 383px;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    background-image: url(../img/fotoTeste.jpeg);
    
}

.divImagemArrow{
    padding-bottom: 50px;
    margin: 0 auto;
}

/*SECTION 2 - PARTE SOBRE*/

.parteDois-sobre{
    background-image: url(../img/wave\ bg\ 2.svg);
    background-position: center;
    background-size: cover;
    width: 100%;
    min-height: 100vh;
    max-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.containerParteDois{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 150px 0px;
    
}

.containerTextoParteDois{
    max-width: 500px;
    font-size: 25px;
    color: white;
}


.botaoPadrao a{
    background-color: var(--azulEscuro);
    color: white;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 330px;
    height: 50px;
    border-radius: 10px;
    transition: 0.5s;
    font-size: 25px;
    border: 3px solid transparent;
}

.botaoPadrao a:hover{
    border: 3px solid var(--azulEscuro);
    background-color: transparent;
    color: var(--azulEscuro);
    transition: 0.5s;
}


.listaSoftSkills li{
    list-style-type: disc;
    font-size: 25px;
}

.containerIcones{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 700px;
    column-gap: 35px;
    row-gap: 20px;
}

.boxCardImg{
    border-radius: 15px;
    width: 117px;
    height: 145px;
    background-color: var(--azulClaro);
    box-shadow: 8px 8px 20px #3479FF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerIcones img{
    width: 100px;
}


#botaoMenu{
    background-color: transparent;
    background-image: url(../img/botaoHamburguer.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    border: 0;
    width: 70px;
    height: 70px;
}


.parteTres-Projetos{
    width: 100%;
    height: 100%;
    background-color: var(--preto);
}

.conteudoProjeto{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    height: 100%;
    gap: 150px;
}

.img{
    width: 50%;
    height: auto;
    
}


.img img{
    width: 100%;
    height: 100%;
}

.conteudoDoProjeto{
    color: white;
    padding: 20px;
}

.conteudoDoProjeto h3{
    font-size: 35px;
    font-weight: bold;
}

.conteudoDoProjeto p{
    font-size: 22px;
    padding: 30px 0px;
    width: 400px;
}

.boxImgDosProjetos{
    display: flex;
    flex-direction: row;
    gap: 15px;
    padding-bottom: 90px;
}

.boxImgDosProjetos img{
    width: 50px;
}

.parteQuatro-MaisProjetos{
    width: 100%;
    height: auto;
    padding: 50px 0px;
    background-color: var(--preto);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.maisProjetos{

    text-align: center;
    color: white;
}

.maisProjetos h4{
    font-weight: normal;
}

.maisProjetos h3{
    color: white;
}

.parteCinco-Contato{
    width: 100%;
    height: 100vh;
    background-image: url(../img/wave\ bg\ 3.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.paginaContato{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    text-align: center;
    color: white;
}

.containerIcone{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding-top: 80px;
}

.iconeContato{
    width: 130px;
    height: 130px;
    background-color: var(--preto);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px solid var(--preto);
    transition: 0.2s;
}

.iconeContato img{
    width: 70px;
}

.iconeContato:hover{
    background-color: transparent;
    transition: 0.2s;
    border: 4px solid white;
}










@media (max-width:1390px){
    h1{
        font-size: 50px;
    }

    h2{
        font-size: 40px;
    }

    .containerParteDois{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 100px;
        padding: 150px 0px;

    }
}

@media (max-width:1200px){
    .img {
        width: 100%;
    }

    .conteudoProjeto{
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding-bottom: 140px;
    }

    .conteudoProjeto h3{
        font-size: 40px;
    }

    .conteudoProjeto p{
        font-size: 33px;
    }
    
}

@media(max-width:990px){

    header.active .listaMenu{
        transform: translateX(0);
        justify-content: center;
        align-items: center;
        flex-direction: column;
        z-index: 999;
        transition: 0.3s ease-in;
        opacity: 100%;
        
        
        
    }

    

    header.active #botaoMenu{
        background-image: url(../img/botaoClose.svg);
        transition: 0.2s linear;
    }

    .menuHeader button{
        position: fixed;
        right: 30px;
        z-index: 9999999;
        top: 30px;
    }

    .menuHeader{
        top: 0;
        background-color: transparent;
    }

    
    .listaMenu{
        top: 0;
        text-align: right;
        transform: translateX(100%);
        position: absolute;
        width: 100%;
        background-color: var(--preto);
        top: 0;
        height: 100vh;
        z-index: 20;  
        opacity: 70%;  
        
    }


    .listaMenu a{
        padding: 40px 80px;
        font-size: 30px;
        border-radius: 0;
    }

    .listaMenu a:hover{
        color: var(--azulEscuro);
        background-color: transparent;
    }

    .containerTextoParteDois{
        font-size: 40px;
    }

    .divImg{
        width: 320px;
        height: 320px;
    }
    h1{
        font-size: 40px;
        text-align: center;
    }

    h2{
        font-size: 38px;
        text-align: center;
    }
    .containerImgTitulo{
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .menuHeader button{
        display: block;
    }


    .listaSoftSkills li{
        font-size: 35px;
    }

    .botaoPadrao a{
        height: 60px;
        width: 400px;
        font-size: 35px;
    }

    

}



