@import url(../global/global.css);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--fonte);
}

a, ul, li{
    text-decoration: none;
    list-style-type: none;
}

h1{
    font-size: 72px;
    color: white;
}

h2{
    font-size: 64px;
    color: white;
}

.menuHeader button{
    display: none;
}

.frontEnd-gambiarra{
    color: var(--azulEscuro);
}

.menuHeader{
    top: 30px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: fixed;
    width: 100%;
    z-index: 9999;
}

.listaMenu{
    display: flex;
    flex-direction: row;
    gap: 150px;
    
}

.listaMenu a{
    color: white;
    padding: 7px 35px ;
    border-radius: 10px;
}

.listaMenu a:hover{
    background-color: var(--azulEscuro);
    transition: 0.3s;
    border-radius: 10px;
}

.parteUm-Home{
    width: 100%;
    height: 100vh;
    background-color: var(--preto);
    display: flex;
    flex-direction: column;
}

.containerImgTitulo{
    padding-top: 30px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    flex-direction: row;
    flex-wrap: wrap;
}


.divImg{
    width: 383px;
    height: 383px;
    border-radius: 50%;
    border: 5px solid var(--azulEscuro);
    background-position: center;
    background-size: cover;
    background-image: url("../img/fotoTeste.jpeg");
}

.divImagemArrow{
    margin: 0 auto;
}

/*SECTION 2 - PARTE SOBRE*/

.parteDois-sobre{
    background-color: var(--azulClaro);
    width: 100%;
    min-height: 100vh;
    max-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.containerParteDois{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    
}

.containerTextoParteDois{
    width: 500px;
    font-size: 30px;
    color: white;
}

.containerBarras{
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
}

.containerBarras h3{
    color: white;
    font-weight: bold;
    font-size: 36px;
}


.barraDeProgresso{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.barraDeProgresso img{
    width: 70px;
    height: 70px;
}

.progress{
    width: 500px;
    height: 30px;
    background-color: #272727;
    border-radius: 10px;
}

.progress-bar{
    background-color: #0055ffb7;
    border-radius: 0px 10px 10px 0px;
}

#botaoMenu{
    background-color: transparent;
    background-image: url(../img/botaoHamburguer.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    border: 0;
    width: 50px;
    height: 50px;
}


@media (max-width:1390px){
    h1{
        font-size: 50px;
    }

    h2{
        font-size: 40px;
    }

    .containerParteDois{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 100px;
        padding: 150px 0px;

    }
}

@media (max-width:990px){

    header.active .listaMenu{
        transform: translateX(0);
        justify-content: center;
        align-items: center;
        flex-direction: column;
        z-index: 999;
        transition: 0.3s ease-in;
        opacity: 100%;
        
        
    }

    header.active #botaoMenu{
        background-image: url(../img/botaoClose.svg);
        transition: 0.2s linear;
    }

    .menuHeader button{
        position: fixed;
        right: 30px;
        z-index: 9999999;
        top: 30px;
    }

    .menuHeader{
        top: 0;
    }

    
    .listaMenu{
        top: 0;
        text-align: right;
        transform: translateX(100%);
        position: absolute;
        width: 100%;
        background-color: var(--preto);
        top: 0;
        height: 100vh;
        z-index: 20;  
        opacity: 70%;  
        
    }


    .listaMenu a{
        padding: 40px 80px;
        font-size: 30px;
        border-radius: 0;
    }

    .listaMenu a:hover{
        color: var(--azulEscuro);
        background-color: transparent;
    }

    .divImg{
        width: 320px;
        height: 320px;
    }
    h1{
        font-size: 40px;
        text-align: center;
    }

    h2{
        font-size: 38px;
        text-align: center;
    }
    .containerImgTitulo{
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .menuHeader button{
        display: block;
    }
}



