@import url('https://fonts.googleapis.com/css2?family=Monda&family=Roboto&display=swap');

:root{
    --azulClaro: #5790FF;
    --azulEscuro: #7A68FF;
    --preto: #181818;
    --fonte: font-family: 'Roboto', sans-serif;
}